body {
    font-family: Arial;
    text-align: center;
    background: #eef2f3;
}

h1 {
    color: #333;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
}